.jumbotron{
  background-image: url("../img/jumbotron.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.button-section{
  text-align: center;
}

#giraffe, #elephant, #hippo{
  display: none;
}
